{% extends "base.html" %}

{% block head %}
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}
{% block body %}
{% block main_header %} {% endblock %}
<form {% block form_action %} {% endblock %}>
        <h3 class="centered-text medium-text very-small-top-bottom-margin" style="color: var(--yellow)">TITLE</h3>
        <input type="text" name="title" id="title" placeholder="Your title..." spellcheck="false" class="centered-block post-content"
               {% block snippet_title_value %}
               {% endblock %}
        ><br>

        <h3 class="centered-text medium-text very-small-top-bottom-margin" style="color: var(--yellow)">CONTENT</h3>
        <!--<pre><code>int main()</code></pre><br>-->
        <textarea id="editor" name="content" spellcheck="false" placeholder="Your code..." rows="10" class="centered-block post-content">{% block snippet_content_value %}{% endblock %}</textarea>



        <h3 class="centered-text medium-text very-small-top-bottom-margin" style="color: var(--yellow)">LANGUAGE</h3>
        <select name="language" id="language" class="centered-block post-content">
            <option value="c">C</option>
            <option value="c++">C++</option>
            <option value="c#">C#</option>
            <option value="java">Java</option>
            <option value="javascript">Javascript</option>
            <option value="objective c">Objective C</option>
            <option value="pascal">Pascal</option>
            <option value="python">Python</option>
            <option value="unity c#">Unity C#</option>
            {% block snippet_language_selected %}
            {% endblock %}
        </select><br>
    {% block button %} {% endblock %}
    </form>
{% endblock %}