<option value="Any">Any</option>
<option value="C">C</option>
<option value="CSS">CSS</option>
<option value="C++">C++</option>
<option value="C#">C#</option>
<option value="HTML">HTML</option>
<option value="Java">Java</option>
<option value="Javascript">Javascript</option>
<option value="Objective C">Objective C</option>
<option value="Pascal">Pascal</option>
<option value="Plaintext">Plaintext</option>
<option value="Pseudocode">Pseudocode</option>
<option value="Python">Python</option>
<option value="Unity C#">Unity C#</option>
<option selected="selected" hidden>{{ language.capitalize() if language else 'Any'  }}</option>