<div class="centered-block" style="width: 95%">
    <table class="pure-table stretch medium-text very-small-top-bottom-margin">
    <thead>
        <tr>
            {% if snippets %}
                {% for key, value in snippets[0].items() %}
                    {% if key != '_id' %}
                    <th>{{key.capitalize()}}</th>
                    {% endif %}
                {% endfor %}
            <th>View</th>
                {% if username %}
            <th>Update</th>
            <th>Delete</th>
                {% endif %}
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for snippet in snippets %}
            <tr class="stretch">
                {% for key, value in snippet.items() %}
                    {% if key != '_id' %}
                    <td>{{value}}</td>
                    {% endif %}
                {% endfor %}
                <td><a href="{{ url_for('view_snippet', id=snippet._id) }}">View</a></td>
                {% if username %}
                <td><a href="{{ url_for('update_snippet', id=snippet._id) }}">Update</a></td>
                <td><a href="{{ url_for('delete_snippet', id=snippet._id) }}">Delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>