<div class="centered-block" style="width: 95%">
    <table class="pure-table stretch medium-text very-small-top-bottom-margin">
    <thead>
        <tr>
            {% if snippets %}
                {% for key, value in snippets[0].items() %}
                    {% if key != '_id' %}
                    <th>{{key.capitalize()}}</th>
                    {% endif %}
                {% endfor %}
            <th>View</th>
                {% if username %}
            <th>Update</th>
            <th>Delete</th>
                {% endif %}
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for snippet in snippets %}
            <tr class="stretch">
                {% for key, value in snippet.items() %}
                    {% if key == 'average' %}
                        {% set full_stars = value %}
                        {% set empty_stars = 5 - full_stars %}
                        <td>
                        {% for i in range(5) %}
                            {% if i < full_stars %}
                            <label class="full-star"></label>
                            {% else %}
                            <label class="empty-star"></label>
                            {% endif %}
                        {% endfor %}
                        </td>
                    {% elif key != '_id' %}
                        <td>{{value}}</td>
                    {% endif %}
                {% endfor %}
                <td><a href="{{ url_for('view_snippet', id=snippet._id) }}">View</a></td>
                {% if username %}
                <td><a href="{{ url_for('update_snippet', id=snippet._id) }}">Update</a></td>
                <td><a class="pointer" onclick="deleteSnippet('{{snippet._id}}')">Delete</a></td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    </table>
</div>