{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/@highlightjs/cdn-assets@10.7.2/styles/default.min.css">
{% endblock %}

{% block body %}
<div class="very-small-top-bottom-margin">
    <h2> {{ snippet.title }} ({{ snippet.language }}) written by {{ snippet.author }} </h2>
</div>
<pre>
    <code class="centered-block">{{ snippet.content }}</code>
</pre>
<script src="https://unpkg.com/@highlightjs/cdn-assets@10.7.2/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
{% endblock %}